html {
  scroll-padding-top: 7rem;
}

.main-header {
  background-color: #e0da1b;
  padding: 10px 16px;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 1rem 5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3.5px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: rgb(106, 8, 106);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(106, 8, 106);
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(228, 84, 84);
}

.name {
  font-size: 2.1rem;
  font-weight: bold;
  color: rgb(106, 8, 106);
}

body {
  background-color: #fff;
  color: rgb(106, 8, 106);
  font-family: montserrat;
  font-size: 1.2rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

section {
  margin: 0.75rem;
  padding: 0.75rem;
}

.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

h1,
h2 {
  font-size: 35px;
  font-weight: bolder;
  color: dark grey;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

.skills-border li {
  border: 2px solid;
  border-color:  #a7417c;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.25rem 0.75rem;
  display: inline-block;
  background-color: #e0da1b;
  box-shadow: 5px 5px 5px  #a7417c;
}

.container {
  display: grid;
  max-width: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 5px;
  grid-auto-flow: row;
}

.grid-item {
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  background-image: linear-gradient(
    to left,
    #a7417c,
    #e0da1b
  );
  margin-bottom: 0.75rem;
  box-shadow: 5px 5px 5px;
  border: 2px solid;
  border-color:  #a7417c;
  box-shadow: 5px 5px 5px  #a7417c;
}

#messages li {
  border: 2px grey;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 0.1fr;
  grid-template-rows: auto auto;
}

.fa {
  padding: 5px;
  width: 50px;
  text-align: left;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
/* .fa-facebook {
  background: #3B5998;
  color: white;
}  */

footer {
  background-image: linear-gradient(
    to left,
    #a7417c,
    #e0da1b
  );
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.field-name,
.field-input {
  display: grid;
}

.field-name {
  display: grid;
  color: var(--color-dark);
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.field-input {
  display: grid;
  padding: 0.25rem 0.5rem;
  width: 30%;
}

.field-inputmessage {
  display: grid;
  padding: 0.25rem 0.5rem;
  width: 30%;
  margin-bottom: 2rem;
}

button {
  display: grid;
  background-color:  #a7417c;
  border-radius: 5px;
  color: white;
  min-width: 80px;
  padding: 1rem;
  border-style: none;
  max-height: 1rem;
  align-content: center;
}

.nav-menu.responsive a {
  float: none;
  display: flex;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05,);
  }

  .navbar {
    padding: 1.5rem;
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}