body {
    background-color: rgb(235, 240, 243);
    color: rgb(29, 10, 113);
    font-family: montserrat;
    margin: 0.5rem;
    padding: 0.5rem;
}

h1, h2 {
  font-size: 35px;  
  font-weight: bolder;
  color: rgb(37, 19, 88);
}
ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}
.skills-border li {
    border: 2px solid;
    border-radius: 1rem ;
    margin: 0.5rem;
    padding: 0.25rem 0.75rem;
    display: inline-block;

} 
.blocks li {
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    background-color: rgb(218, 212, 212);
    border: 2px grey;
    display: grid;
    margin-bottom: 0.5rem;
}
#form label {
    color: rgb(42, 6, 90);
    font-size: 1rem;
}

#form input, textarea {
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: groove;
}
button {
    color: black;
    background-color: lightgrey;
    border: 2px grey;
    margin: 0.5rem;
    padding: 0.5rem;
}
#messages li {
    border: 2px grey;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    display: block;
}
footer {
    background-color: rgb(214, 221, 240);
    margin: 0.5rem;
    padding: 0.5rem;
}